main {
  background-color: #ec00d7; /* Changed background to white */
  border-radius: 1rem;
  padding: 2rem;
  box-shadow: 0 4px 6px rgb(93, 93, 191);
  height: 100%;
  overflow-y: auto;
  display: grid;
  gap: 3rem;
  color: #1cbcec; /* Darker blue text color */
}

h1 {
  font-size: 2.5rem; /* Larger font size */
  font-weight: bold; /* Bold text */
  text-align: center;
  color: #df2121;
  padding-bottom: 2rem;
}

.book-card {
  border-radius: 1rem;
  padding: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  padding: 1rem; /* Added padding to the product card */
  background-color: black; /* Added a black background to the product card */
}

.book-card__image__container {
  height: 15rem;
  border-radius: 1rem;
  overflow: hidden; /* Hide image overflow */
}

.book-card__image {
  height: 100%;
  width: 100%;
  object-fit: cover; /* Cover the entire container */
}

.book-card__details {
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.book-card__details__information {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}

.button-container {
  margin-top: auto;
  padding-top: 1rem;
}

.button-borrow {
  background-color: #06299e; /* Darker blue background color */
  color: white;
  font-size: 1.25rem;
  padding: 0.5rem 1rem;
  border-radius: 50px;
  cursor: pointer;
  width: 100%;
  transition: background-color 0.3s ease; /* Smooth transition */
}

.button-borrow:hover {
  background-color: #1a701f; /* Softer red hover color */
}

@media (max-width: 767px) {
  main {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  main {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1024px) {
  main {
    grid-template-columns: repeat(5, 1fr);
  }
}
